<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ysf.csTest.dao.TestDao">
    <select id="selectByCondition" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM test
        WHERE 1 = 1
        <if test="record.testId != null">
            AND
            test_id = #{record.testId}
        </if>
        <if test="record.name != null">
            AND
            name = #{record.name}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.content != null">
            AND
            content = #{record.content}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM test
        WHERE 1 = 1
        <if test="record.testId != null">
            AND
            test_id = #{record.testId}
        </if>
        <if test="record.name != null">
            AND
            name = #{record.name}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.content != null">
            AND
            content = #{record.content}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from test
        where test_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from test
        where test_id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <select id="insertBatch" parameterType="java.util.Map">
        insert into test
        (name, create_time, modify_time, content) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.name}, #{item.createTime}, #{item.modifyTime}, #{item.content})
        </foreach>
    </select>
</mapper>
